data_tests/** filter=lfs diff=lfs merge=lfs -text
data_tests/Bruker_files filter=lfs diff=lfs merge=lfs -text
data_tests/Nifti_files filter=lfs diff=lfs merge=lfs -text
data_tests/Philips_files filter=lfs diff=lfs merge=lfs -text
